In [1]:
import pandas as pd

# Charger les données depuis un fichier 
df = pd.read_excel(r'C:/Users/Rania/Desktop/individu_new1_data.xlsx')

# Afficher toutes les données du DataFrame
print(df.head().T)

                                    0                     1  \
REF_IND                             1                     2
GENRE_IND                       PM                    PM
TYP_DOC_ID_IND   Registre De Commerce  Registre De Commerce
DATE_DOC_ID_IND   2014-02-10 00:00:00   2014-02-10 00:00:00
DAT_NAISS_CREAT   2014-02-10 00:00:00   2014-02-10 00:00:00
ID_NLDP                             1                     1
REF_ADH_IND                  40900191                     0
REF_ACH_IND                  41700191              41700003
DURATION_EXO                        0                     0
Age                                 9                     9

                                    2                     3  \
REF_IND                             3                     4
GENRE_IND                       PM                    PM
TYP_DOC_ID_IND   Registre De Commerce  Registre De Commerce
DATE_DOC_ID_IND   2014-02-10 00:00:00   2014-02-10 00:00:00
DAT_NAISS_CREAT   2014-02-10 00:00:00   2014-02-10 00:00:00
ID_NLDP                             1                     2
REF_ADH_IND                  40980899              40999601
REF_ACH_IND                  41782266               REF INT
DURATION_EXO                        0  Duration introuvable
Age                                 9                     9

                                    4
REF_IND                             5
GENRE_IND                       PM
TYP_DOC_ID_IND   Registre De Commerce
DATE_DOC_ID_IND   2014-02-10 00:00:00
DAT_NAISS_CREAT   2014-02-10 00:00:00
ID_NLDP                             1
REF_ADH_IND                  40991849
REF_ACH_IND                  41782322
DURATION_EXO                        0
Age                                 9

In [2]:
df.shape

(1230, 10)

In [3]:
df.isna().sum()

REF_IND            0
GENRE_IND          0
TYP_DOC_ID_IND     0
DATE_DOC_ID_IND    0
DAT_NAISS_CREAT    0
ID_NLDP            0
REF_ADH_IND        0
REF_ACH_IND        0
DURATION_EXO       0
Age                0
dtype: int64

In [4]:
df = df.drop('REF_ADH_IND', axis=1)
df = df.drop('REF_ACH_IND', axis=1)
df = df.drop('Age', axis=1)

In [5]:

df['DURATION_EXO'] = df['DURATION_EXO'].replace('Duration introuvable', '0')

# Then, convert the column to numeric
df['DURATION_EXO'] = pd.to_numeric(df['DURATION_EXO'], errors='coerce')

# Now, the 'Duration' column contains numeric values with '0' for replaced entries

In [6]:
df['DURATION_EXO']

0       0
1       0
2       0
3       0
4       0
       ..
1225    0
1226    0
1227    0
1228    0
1229    0
Name: DURATION_EXO, Length: 1230, dtype: int64

In [7]:

# Convertir les valeurs en minuscules et nettoyer la colonne "GENRE_IND"
df['GENRE_IND'] = df['GENRE_IND'].str.strip().str.lower()

# Remplacer les valeurs dans la colonne "GENRE_IND"
df['GENRE_IND'] = df['GENRE_IND'].replace({'pm': 'personne morale', 'pp': 'personne physique' , 'ass': 'Assurance'})



# Afficher la colonne "GENRE_IND" mise à jour
print(df['GENRE_IND'])

0       personne morale
1       personne morale
2       personne morale
3       personne morale
4       personne morale
             ...
1225    personne morale
1226    personne morale
1227    personne morale
1228    personne morale
1229    personne morale
Name: GENRE_IND, Length: 1230, dtype: object

In [8]:
df['ID_NLDP'] = df['ID_NLDP'].replace('ID_NLDP introuvable', '0')

# Then, convert the column to numeric
df['ID_NLDP'] = pd.to_numeric(df['ID_NLDP'], errors='coerce')

df['ID_NLDP']

0       1
1       1
2       1
3       2
4       1
       ..
1225    2
1226    2
1227    2
1228    2
1229    2
Name: ID_NLDP, Length: 1230, dtype: int64

In [9]:
import os
import pandas as pd
# Spécifier le chemin complet d'enregistrement sur votre bureau
nom_fichier = 'Table individu.xlsx'
chemin_bureau = os.path.expanduser("~\\Desktop\\" + nom_fichier)

# Enregistrer la nouvelle version dans un fichier Excel
df.to_excel(chemin_bureau, index=False)

print("Nouvelle version enregistrée sur le bureau :", chemin_bureau)

Nouvelle version enregistrée sur le bureau : C:\Users\Rania\Desktop\Table individu.xlsx