In [1]:
import pandas as pd

# Charger les données depuis un fichier 
df = pd.read_excel(r'C:/Users/Rania/Desktop/impaye_new1_data (1).xlsx')

# Afficher toutes les données du DataFrame
print(df.head().T)

                                  0                    1                    2  \
ID_IMP                            1                    3                    5
ID_ENC_IMP                      320                  947                  837
DATE_IMP        2014-12-05 00:00:00  2014-12-03 00:00:00  2014-12-25 00:00:00
DATE_SAISI_IMP  2014-12-19 00:00:00  2014-12-27 00:00:00  2014-12-31 00:00:00
MONT_IMP                    14775.0               5000.0               5000.0
Duration                        -14                  -24                   -6

                                  3                    4
ID_IMP                            6                    7
ID_ENC_IMP                      836                  976
DATE_IMP        2014-12-26 00:00:00  2015-01-10 00:00:00
DATE_SAISI_IMP  2015-01-06 00:00:00  2015-02-06 00:00:00
MONT_IMP                   28449.75              10757.0
Duration                        -11                  -27

In [2]:
df.shape

(613, 6)

In [3]:
df.isna().sum()

ID_IMP            0
ID_ENC_IMP        0
DATE_IMP          0
DATE_SAISI_IMP    0
MONT_IMP          0
Duration          0
dtype: int64

In [5]:

df['Duration'] = df['Duration'].replace('Duration introuvable', '0')

# Then, convert the column to numeric
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')

df['Duration']

0     -14
1     -24
2      -6
3     -11
4     -27
       ..
608    -1
609     0
610     0
611     0
612     0
Name: Duration, Length: 613, dtype: int64

In [6]:


# Rename the column to remove any leading or trailing spaces
df.rename(columns={'DATE_IMP ': 'DATE_IMP'}, inplace=True)

# Convert the 'DATE_IMP' column to datetime format
df['DATE_IMP'] = pd.to_datetime(df['DATE_IMP'])

# Format the dates as "dd/mm/yyyy"
df['DATE_IMP'] = df['DATE_IMP'].dt.strftime('%d/%m/%Y')
print(df.head().T)

                                  0                    1                    2  \
ID_IMP                            1                    3                    5
ID_ENC_IMP                      320                  947                  837
DATE_IMP                 05/12/2014           03/12/2014           25/12/2014
DATE_SAISI_IMP  2014-12-19 00:00:00  2014-12-27 00:00:00  2014-12-31 00:00:00
MONT_IMP                    14775.0               5000.0               5000.0
Duration                        -14                  -24                   -6

                                  3                    4
ID_IMP                            6                    7
ID_ENC_IMP                      836                  976
DATE_IMP                 26/12/2014           10/01/2015
DATE_SAISI_IMP  2015-01-06 00:00:00  2015-02-06 00:00:00
MONT_IMP                   28449.75              10757.0
Duration                        -11                  -27

In [8]:

df.rename(columns={'DATE_SAISI_IMP ': 'DATE_SAISI_IMP'}, inplace=True)

# Convert the 'DATE_SAISI_IMP' column to datetime format
df['DATE_SAISI_IMP'] = pd.to_datetime(df['DATE_SAISI_IMP'])

# Format the dates as "dd/mm/yyyy"
df['DATE_SAISI_IMP'] = df['DATE_SAISI_IMP'].dt.strftime('%d/%m/%Y')
print(df.head().T)

                         0           1           2           3           4
ID_IMP                   1           3           5           6           7
ID_ENC_IMP             320         947         837         836         976
DATE_IMP        05/12/2014  03/12/2014  25/12/2014  26/12/2014  10/01/2015
DATE_SAISI_IMP  19/12/2014  27/12/2014  31/12/2014  06/01/2015  06/02/2015
MONT_IMP           14775.0      5000.0      5000.0    28449.75     10757.0
Duration               -14         -24          -6         -11         -27

In [9]:
import os
import pandas as pd
# Spécifier le chemin complet d'enregistrement sur votre bureau
nom_fichier = 'Table IMPAYE.xlsx'
chemin_bureau = os.path.expanduser("~\\Desktop\\" + nom_fichier)

# Enregistrer la nouvelle version dans un fichier Excel
df.to_excel(chemin_bureau, index=False)

print("Nouvelle version enregistrée sur le bureau :", chemin_bureau)

Nouvelle version enregistrée sur le bureau : C:\Users\Rania\Desktop\Table IMPAYE.xlsx